.ProfileMenu{
    position: absolute;
    top: 42px;
    right: 2px;
    background-color: rgba(211, 211, 211, 50%);
    padding-right: 24px;
    border-radius: 20px;
}

.ProfileList{
    list-style:none;
}

.ProfileList ul:hover{
    cursor: pointer;
}