.TopBar{
    height: 40px;
    width: 100vw;
    background-color: rgba(211, 211, 211, 50%);
    display: flex;
    justify-content: space-between;
}

.Logo{
    height: 40px;
    width: 42px;
    background-repeat: no-repeat;
    background-color: blue;
    background-image: url('../Recources/logo.png'); 
    background-size: 100%;
}
.Logo:hover{
    cursor: pointer;
}
.TopBarLeft{
    display: flex;
}

.MainMenuContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.MainMenu{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-left: 4px;
}
.MainMenu a{
    padding: 10px 24px;
    /* border-radius: 24px; */
}
.MainMenu a:hover{
    cursor: pointer;
    color: blue;
    background-color: rgba(211, 211, 255, 50%);
}


.ProfileButton{
    height: 40px;
    width: 40px;
    background-image: url('../Recources/profile.jpg');
    background-size: 100%;
    margin-top: 0px;
    border-radius: 20px;
}
.ProfileButton:hover{
    cursor: pointer;
}
